@font-face {
  font-family: Helvetica;
  src: url(./Helvetica.ttf);
}
@font-face {
  font-family: Helvetica-light;
  src: url(./Helvetica\ Neue\ UltraLight.ttf);
}
@font-face {
  font-family: Helvetica-bold;
  src: url(./FreeSansBold.ttf);
}
@font-face {
  font-family: Helvetica;
  src: url(./Helvetica.ttf);
}
.root {
  font-family: Helvetica;
}


.page-content-dark {
  background-color: #343e59;
  padding: 2em;
  min-height: 95vh;
}
.page-content {
  background-color: #e5e5e5;
  padding: 2em;
  min-height: 95vh;
}



/******************************************************/
/******************************************************/
/******************************************************/
/******************************************************/
/******************************************************/
/******************************************************/
/******************************************************/
/******************************************************/
/******************************************************/
/******************************************************/
/******************************************************/
/******************************************************/

.content-header {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: rgb(206, 206, 206) 1px solid;
  cursor: pointer;
}
.light {
  color: #fff;
}
.content-header:hover {
  background-color: none;
  /* background-color: rgb(206, 206, 206); */

}


.select-month {
  width: 4em;
  margin-left: 1em;
}
.pie-chart {
  background: #000;
  border-radius: 4px;
  margin-top: 2px;
}

.students-chart-card {
  width: "100%";
  margin-top: 2em;
  color: #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}
.students-chart-card-dark {
  width: "100%";
  margin-top: 2em;
  background-color: #2b2d3e;
  border: none;
  color: rgba(255, 255, 255, 0.788);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.card-title-dark {
  color: #fff;
}
.card-subtitle-dark {
  color: #fff;
}
.chart {
  color: #000;
}


.shadow {
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}


.staff-profile {
  position: relative;
  text-align: center;
  color: white;
  width: 10em;
  height: 12em;

  /* border: #000 solid 2px; */
}


.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.5em;
  top: 2.2em;
  right: 0em;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.info-item {
  display: flex;
}
.info-title {
  width: 12em;
  font-weight: bold;
}
.setting-title {
  font-size: 1.5em;
  color: #7c7c7c;
}

.timeline {
  position: relative;
  border-color: rgba(160, 175, 185, 0.15);
  padding: 0;
  margin: 0;
}

.tl-item {
  border-radius: 3px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
}

.tl-item > * {
  padding: 10px;
}

.tl-item .avatar {
  z-index: 2;
}

.tl-item:last-child .tl-dot:after {
  display: none;
}

.tl-item.active .tl-dot:before {
  /* border-color: #448bff; */
  box-shadow: 0 0 0 4px rgba(255, 224, 68, 0.564);
}

.tl-item.s-active .tl-dot:before {
  /* border-color: #448bff; */
  box-shadow: 0 0 0 4px #33ba5c9c;
}
.tl-item.d-active .tl-dot:before {
  /* border-color: #448bff; */
  box-shadow: 0 0 0 4px rgba(255, 68, 68, 0.564);
}

.tl-item:last-child .tl-dot:after {
  display: none;
}

.tl-dot {
  position: relative;
  border-color: rgba(160, 175, 185, 0.15);
}

.tl-dot:after,
.tl-dot:before {
  content: "";
  position: absolute;
  border-color: inherit;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.tl-dot:after {
  width: 0;
  height: auto;
  top: 25px;
  bottom: -15px;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 0;
}

.tl-dot:after {
  width: 0;
  height: auto;
  top: 25px;
  bottom: -15px;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 0;
}

.tl-content p:last-child {
  margin-bottom: 0;
}

.tl-date {
  font-size: 0.85em;
  margin-top: 2px;
  min-width: 100px;
  max-width: 100px;
}

.avatar {
  position: relative;
  line-height: 1;
  border-radius: 500px;
  white-space: nowrap;
  font-weight: 700;
  border-radius: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 500px;
  box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.15);
}

.b-warning {
  border-color: #f4c414 !important;
}

.b-primary {
  border-color: #448bff !important;
}

.b-success {
  border-color: #28a745 !important;
}

.b-danger {
  border-color: #f54394 !important;
}

.row-one {
  display: flex;
  margin-bottom: 0;
  font-size: 12pt;
}
.p-title {
  font-weight: bold;
  width: 6em;
}
.p-value {
  width: 12em;
}
.p-heading {
  font-weight: bold;
  color: #666;
}
.sign {
  width: 30%;
  border-top: solid 1px #000;
  text-align: center;
  margin-top: 2em;
}
.exam-btn {
  width: 5em;
  margin-bottom: 0.5em;
}

.std_exam-list {
  border-radius: 0px;
  height: 100%;
  background: #fff;
  border-right: #a1a2a2 1px solid;
}
.std_exam-list-item:hover {
  background-color: #0d6efd;
  color: #fff;
}

.admission-card {
  display: flex;
  justify-content: center;
}

.c-stepper {
  display: flex;
  flex-wrap: wrap;
}

.c-stepper__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.c-stepper__item:before {
  --size: 3rem;
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  margin: 1rem auto 0;
}

.c-stepper__item:not(:last-child):after {
  content: "";
  height: 2px;
  background-color: #e0e0e0;
}

.c-stepper__item:not(:last-child):after {
  content: "";
  height: 2px;
  background-color: #e0e0e0;
  order: -1;
}

.c-stepper__item:not(:last-child):after {
  content: "";
  position: relative;
  top: 1.5rem;
  left: 50%;
  height: 2px;
  background-color: #e0e0e0;
  order: -1;
}




.exam-row {
  border: #fff 1px solid;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  align-items: center;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.15);
}

/* .exam-row-term{
width: 20rem;
} */

.s-menu{
  color: #0d6efd;
}
.MenuOverflow{
  /* background-color: #212529; */
  color: #fff;
  /* border: #000 1px solid; */
  box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.15);

}
.bx--overflow-menu__icon{
  color: #fff;

  
}

.overflowicon{
  color: #28a745;
}
.result-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.result-header-inputs{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.form-btns {
  display: flex;
  justify-content: space-between;
}

.err {
  width: 100%;
  height: 2rem;
  background-color: #393939;
  border-left: #da1e28 4px solid;
  display: flex;
  padding: 0 0.5rem;
  align-items: center;
  color: #fefefe;
  justify-content: space-between;
  margin: 0.5rem 0;
}


/* @media screen and (max-width: 1100px) {
  :root{
    font-size: 70%;
  }
} */


.dateinput{
  border: none;
  background: #F4F4F4;
  border-bottom: 1px solid #888;
  height: 40px;
  padding:  1rem;
  border-radius: none;
}


.dateinput:focus {
  border: 2px solid #0d6efd;
  border-radius: none;
  color: #0d6efd;
  box-shadow: none;
  outline: none;
}