.top-navbar{
    width: 100VW;
    height: 1.5rem;
    background-color: #525153;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.navbar{
    display: flex;
    padding: 0.5rem 1rem;
}
.navbar-items{
display: flex;
justify-content: space-between;
align-items: center;
}
.nav-btn {
    margin: 0 0px 0px 10px;
  }

  
  .btn-icon {
    width: 35px;
    height: 35px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    transition: background 0.2s;
  }
  .user-avatar{
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    transition: background 0.2s;
    object-fit: cover;
  }

.overlay{
  /* background-color: rgb(140, 35, 35); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.user-dropdown-menu{
    background-color: #fff;
    position: absolute;
    right: 1rem;
    margin-top: .2rem;
}
.dropdown-menu-item{
    text-decoration: none;
}

  .label {
    background-color: black;
    display: flex;
    height: 30px;
    border-radius: 50px;
    width: 100px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 15px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    border: 2px solid black;
  }
  .label .moon {
    color: rgb(250, 250, 250);
  }
  .label .sun {
    color: rgb(243, 188, 36);
  }
  .blob {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    background: rgb(169, 241, 243);
    border-radius: 50px;
    transition: 0.5s ease all;
  }
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox:checked + .label .blob {
    left: 0;
  }
  .checkbox:checked + .label {
    background-color: rgb(82, 81, 83);
  }
  
  .Select-input{
    border: none;
    
  }




  .title{
    display: flex;
    justify-content: center;
    align-items: center;
  }




  .select-option:hover{
    background-color: none;
  }